html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.error-input {
  border: 1.2px solid red;
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}

.error-input:focus {
  border: 1.2px solid red;
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}

.success-input {
  border: 1.2px solid #02dc1d;
  border-color: #02dc1d;
  outline: 0;
}

.success-input:focus {
  border: 1.2px solid #02dc1d;
  border-color: #02dc1d;
  outline: 0;
  box-shadow: none;
}

.error-pop-up {
  padding: 5px;
  color: red;
  font-size: 13px;
  display: none;
}

.processing {
  background: -webkit-linear-gradient(top, #dedede 0, #dedede 100%);
  background: linear-gradient(to bottom, #dedede 0, #dedede 100%);
  border: 1px solid #bec0c2;
  color: #75787d;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
  color: #dedede;
  position: relative;
}

.processing:active,
.processing:focus,
.processing:hover,
.processing:disabled {
  border: 1px solid #bec0c2 !important;
  color: #dedede !important;
  cursor: default !important;
}

.processing::after {
  background-image: url(/img/loader_circle_2018.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.75;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.alert {
  font-size: 14px;
}

.custom-navbar {
  background-color: #212529 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-toggler {
  background-color: transparent !important;
}

footer {
  background-color: #212529;
  color: white;
  margin-bottom: 0;
  overflow: hidden;
}

.profile-page-section {
  background-color: #f0f0f0;
}

.profile-page > .card {
  padding: 14px;
}

.profile-page > .card > div {
  padding: 10px;
}

.recommended-buddy h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
  font-size: 21px;
}

.review-box > h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
  font-size: 21px;
}

.review-list h4 {
  font-size: 19px;
}

.review-list .fa-star {
  color: #f3dd40;
}

@media (max-width: 767px) {
  .custom-navbar {
    padding: 10px !important;
  }
}

@media (max-width: 577px) {
  .display-name {
    font-size: 1.35rem !important;
  }

  .recommended-buddy-container {
    display: none;
  }
}

.profile-desktop-details {
  display: none;
}

.profile-mobile-details {
  display: block;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 992px) {
  .profile-desktop-details {
    display: block;
  }

  .profile-mobile-details {
    display: none;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
.card {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 !important;
}

html {
  font-size: 1rem;
}

.profile-picture-button {
  position: absolute;
  top: 5px;
  right: 20px;
}

input:disabled:hover {
  cursor: not-allowed;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: auto !important;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
  display: block;
  width: 100%;
  padding: 0.235rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 0.375rem;
}

.select2-container {
  width: 100% !important;
}

.bootstrap-tagsinput {
  width: 100%;
  box-shadow: none;
  padding-left: 18px;
  background-color: #fff;
  border: 1px solid #ced4da;
  display: inline-block;
  padding: 0.12rem 0.75rem;
  color: #555;
  vertical-align: middle;
  max-width: 100%;
  line-height: 1.5;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  width: auto;
  max-width: inherit;
  padding: 0.266rem 0rem;
  line-height: 1.5;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  background-color: #fec503;
  padding: 0rem 0.31rem;
  color: white;
}

.profile-skill-list div {
  padding: 15px;
}

.profile-personal-info div {
  padding: 5.5px 0px 5.5px 15px;
}

/* Tender Styling Starts Here */
/* // Very Small devices (landscape phones, 0px and up) */
@media (max-width: 575px) {
  select.form-control.tender-currency {
    width: 100% !important;
    margin-bottom: 10px;
  }

  input.form-control.tender-budget {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tender-post-page-section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0px;
  }

  select.form-control.tender-currency {
    width: 100% !important;
    margin-bottom: 10px;
  }

  input.form-control.tender-budget {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tender-post-page-section {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 0px;
  }

  select.form-control.tender-currency {
    width: 20% !important;
    margin-right: 2%;
  }

  input.form-control.tender-budget {
    width: 70% !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tender-post-page-section {
    padding-left: 17rem;
    padding-right: 17rem;
    padding-bottom: 0px;
  }

  select.form-control.tender-currency {
    width: 20% !important;
    margin-right: 2%;
  }

  select.form-control.tender-budget {
    width: 70% !important;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .tender-post-page-section {
    padding-left: 22rem;
    padding-right: 22rem;
    padding-bottom: 0px;
  }

  select.form-control.tender-currency {
    width: 20% !important;
    margin-right: 2%;
  }

  select.form-control.tender-budget {
    width: 70% !important;
  }
}

h3.text-left {
  font-weight: 700;
}

p.tender-create-p {
  font-weight: initial;
  font-size: 1rem;
}

div.row.tender-post-row {
  margin-bottom: 2.2rem;
}

h2.text-left.tender-icon {
  font-weight: 700;
}

input.tender-files {
  margin-top: 1rem;
}

select.form-control.tender-currency {
  float: left;
}

select.form-control.tender-budget {
  float: left;
}

label.control-label.tender-budget-label {
  float: left;
  width: 100%;
}

tender-footer-link a {
  margin-left: 15px;
}

tender-footer-link a {
  margin-right: 55px;
}

a.tender-footer-link {
  margin-right: 20px;
}

label.control-label.tender-label {
  font-size: 1.17rem;
  font-weight: 600;
}

.tender-post-agreement {
  font-size: 12px;
  font-weight: 400;
}

.tender-label + p {
  font-size: 0.9rem;
}

.footer-site-link > div > ul {
  text-align: left;
  list-style: none;
  padding: 0;
}

.footer-site-link > div > span {
  font-size: 10px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 7.5px;
}

.footer-site-link > div > ul > li {
  font-size: 13px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 7.5px;
}

#amount {
  margin-top: 7.5px;
  height: calc(2.25rem + 2px);
  border: none;
  background-color: transparent;
}
